{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
   <p>Bonjour {{user.login}}</p>
     <h1>Cliquez sur ce lien pour afficher ce compte</h1><a href="">lien mailer</a>
</div>
{% endblock %}
